.wishlist-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffffff49;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.book-and-wishlist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.wishlist-icon {
  cursor: pointer;
}

.image-section {
  flex: 1;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-image {
  width: 100%;
  max-width: 550px;
  height: 550px;
  margin-bottom: 20px;
}

.thumbnail-images {
  display: flex;
  gap: 10px;
}

.thumbnail-images img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  object-fit: cover;
  cursor: pointer;
}

.details-section {
  flex: 2;
  max-width: 500px;
  padding: 20px;
}

.details-section h2 {
  font-size: 24px;
  font-weight: bold;
}

.author {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.author a {
  color: #007bff;
  text-decoration: none;
}

.description {
  margin: 10px 0;
  color: #555;
}

.book-shelves {
  color: #333;
  margin-bottom: 20px;
}

.features {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
  color: #555;
}

.features li {
  margin-bottom: 5px;
}

.language-section,
.quantity-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.no-items {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  text-align: center;
  font-size: 50px;
  color: #555;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .book-container {
    flex-direction: column;
  }

  .image-section {
    max-width: 100%;
  }

  .details-section {
    max-width: 100%;
  }
}
